/* ❤️ Page 1 Heart */

.heart1{
font-size:320px;
cursor:pointer;
animation:heartbeat 1s infinite;
transition:.5s;
}

.heart1:hover{
transform:scale(1.2);
}

/* ❤️ Page 3 Heart */

.heart3{
font-size:220px;
cursor:pointer;
animation:heartbeat 1s infinite;
}

/* ❤️ Page 4 Heart */

.heart4{
font-size:220px;
cursor:pointer;
animation:heartbeat 1s infinite;
}

/* 🕯️ Candles */

.candles1,
.candles2{

font-size:120px;
animation:glow 1s infinite alternate;

}

/* 🎂 Cake */

.cake2{

font-size:320px;
cursor:pointer;
transition:.5s;
animation:heartbeat 1s infinite;

}

.cake2:hover{

transform:scale(1.1);

}

/* Mobile */

@media(max-width:768px){

h1{
font-size:28px;
}

h2{
font-size:22px;
}

p{
font-size:18px;
}

#slider{

width:90%;
height:auto;

}

.heart1{

font-size:220px;

}

.heart3{

font-size:170px;

}

.heart4{

font-size:170px;

}

.candles1,
.candles2{

font-size:90px;

}

.cake2{

font-size:220px;

}

}

